$home-background-image: '../img/home-background.jpg';

#app {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  &.home {
    background: url($home-background-image) no-repeat center center;
    background-size: cover;
  }

}