{% extends '../layouts/default.html' %}

{% block main %}
  <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
  <!doctype html>
    <div id="app" class="home"></div>
    <script data-template="home" type="x-tmpl-mustache">
      <div id="home">
        <div class="home-logo"></div>
        <div class="home-buttons">
        {{#buttons}}
          <div class="button home-button" data-navigate="{{link}}">{{text}}</div>
        {{/buttons}}
        </div>
      </div>
    </script>
    <script data-template="sign-up" type="x-tmpl-mustache">
      <div id="sign-up">
        <form>
          <input type="text" name="username">
          <input type="password" name="password">
          <input type="submit" class="submit">
        </form>
      </div>
    </script>
    <script data-template="login" type="x-tmpl-mustache">
      <div id="login">
        <form>
          <input type="text" name="username">
          <input type="password" name="password">
          <input type="submit" class="submit">
        </form>
      </div>
    </script>
{% endblock %}
